{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h3>Hello, {{ session.username }}</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Players</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for user in users %}
                            <a href="/gameWith/{{ user.username }}" class="list-group-item">{{ user.username }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}